<h4 id="jade-inline-elements">Строчные элементы</h4>
<p>Строчные элементы можно записывать на одной строке через двоеточие <span class="text-bold">:</span>.</p>
<p> злоупотреблять с длинными классами.</p>