<h4 id="jade-classes-ids">Классы и идентификаторы пишутся в начале</h4>
<p>Классы и идентификаторы пишутся в начале, а не в атрибутах. Указывать тег <span class="text-bold">div</span> не нужно, т.к. он используется по умолчанию.</p>