<h4 id="jade-comments">Комментарии</h4>
<p>Комментарии в Jade, которые не должны попасть в HTML записываются через <span class="text-bold">//-</span></p>
<p>Простые или условные комментарии можно записывать прямо в HTML-формате.</p>
