<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> jquery/rules/jquery-variables ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> jquery/examples/jquery-variables-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> jquery/rules/jquery-cache ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> jquery/examples/jquery-cache-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> jquery/rules/jquery-search-elements ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> jquery/examples/jquery-search-elements-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> jquery/rules/jquery-events ~}}
    </div>
    <div class="chapter-part-col gray-bgcolor">
        <figure>
          <pre><code class="language-js">
            {{~> jquery/examples/jquery-events-example ~}}
          </code></pre>
        </figure>
      </div>
</article>