<h4 id="angular-helpers">Встроенные хэлперы Angular</h4>
<p>По возможности используйте встроенные ангулярные хэлперы.</p>
<p>Для работы с массивами и объектами и манипуляциями элементами внутри них используйте библиотеку lodash</p>

