<h4 id="angular-files-structure">Cтруктура файлов</h4>
<p>В новом создаваемом компоненте должны присутствовать jade, stylus, js, spec.js, html для разработки компонента изолированно от других и быстрого его просмотра.</p>
