<h4 id="angular-files-naming">Наименование файлов, папок и сущностей Angular</h4>
<p>Папку, класс и html-тэг компонента называем по БЭМу.</p>
<p>Названия модулей пишем как fba.componentName</p>
<p>Название файлов через camelCase</p>
<p>Основной единицей компонента (точкой входа в компонент) является директива, ее название совпадает с названием компонента.</p>
<p>Внутри js файлов сущностей (контроллеров, сервисов, фильтров, моделей, фабрик) через camelCase название компонента + название сущности, за исключением Модели.
(т.к. модель является сервисом, но в качестве названия сущности используем Model)</p>
