footer {
  padding: 2rem;

  background-color: var(--subtle-color);
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-full {
  display: inline-block;
  width: 161px;
}

