<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> js/rules/js-reserved-words ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> js/examples/js-reserved-words-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> js/rules/js-key-words ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> js/examples/js-key-words-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> js/rules/js-copy-array ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> js/examples/js-copy-array-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> js/rules/js-copy-array-like ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> js/examples/js-copy-array-like-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> js/rules/js-strings ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> js/examples/js-strings-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> js/rules/js-functions ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> js/examples/js-functions-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> js/rules/js-properties ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> js/examples/js-properties-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> js/rules/js-variables ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> js/examples/js-variables-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> js/rules/js-conditionals ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> js/examples/js-conditionals-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> js/rules/js-code-blocks ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> js/examples/js-code-blocks-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> js/rules/js-comments ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> js/examples/js-comments-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> js/rules/js-syntax ~}}
    </div>
    <div class="chapter-part-col gray-bgcolor">
        {{~> js/examples/js-syntax-example ~}}
    </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> js/rules/js-spaces ~}}
    </div>
    <div class="chapter-part-col gray-bgcolor">
        <figure>
          <pre><code class="language-js">
            {{~> js/examples/js-spaces-example ~}}
          </code></pre>
        </figure>
      </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> js/rules/js-naming-conventions ~}}
    </div>
    <div class="chapter-part-col gray-bgcolor">
        <figure>
          <pre><code class="language-js">
            {{~> js/examples/js-naming-conventions-example ~}}
          </code></pre>
        </figure>
      </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> js/rules/js-access-functions ~}}
    </div>
    <div class="chapter-part-col gray-bgcolor">
        <figure>
          <pre><code class="language-js">
            {{~> js/examples/js-access-functions-example ~}}
          </code></pre>
        </figure>
      </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> js/rules/js-constructors ~}}
    </div>
    <div class="chapter-part-col gray-bgcolor">
        <figure>
          <pre><code class="language-js">
            {{~> js/examples/js-constructors-example ~}}
          </code></pre>
        </figure>
      </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> js/rules/js-constructors ~}}
    </div>
    <div class="chapter-part-col gray-bgcolor">
        <figure>
          <pre><code class="language-js">
            {{~> js/examples/js-constructors-example ~}}
          </code></pre>
        </figure>
      </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> js/rules/js-events ~}}
    </div>
    <div class="chapter-part-col gray-bgcolor">
        <figure>
          <pre><code class="language-js">
            {{~> js/examples/js-events-example ~}}
          </code></pre>
        </figure>
      </div>
</article>
