<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> stylus/rules/stylus-syntax ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-stylus">
        {{~> stylus/examples/stylus-syntax-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> stylus/rules/stylus-indentation ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-stylus">
        {{~> stylus/examples/stylus-indentation-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> stylus/rules/stylus-space-classes ~}}
    </div>
    <div class="chapter-part-col gray-bgcolor">
        <figure>
      <pre><code class="language-stylus">
          {{~> stylus/examples/stylus-space-classes-example ~}}
      </code></pre>
        </figure>
    </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> stylus/rules/stylus-composite-block-name ~}}
    </div>
    <div class="chapter-part-col gray-bgcolor">
        <figure>
      <pre><code class="language-stylus">
          {{~> stylus/examples/stylus-composite-block-name-example ~}}
      </code></pre>
        </figure>
    </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> stylus/rules/stylus-one-block ~}}
    </div>
    <div class="chapter-part-col gray-bgcolor">
        <figure>
      <pre><code class="language-stylus">
          {{~> stylus/examples/stylus-one-block-example ~}}
      </code></pre>
        </figure>
    </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> stylus/rules/stylus-mixins-blocks ~}}
    </div>
    <div class="chapter-part-col gray-bgcolor">
        <figure>
      <pre><code class="language-stylus">
          {{~> stylus/examples/stylus-mixins-blocks-example ~}}
      </code></pre>
        </figure>
    </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> stylus/rules/stylus-total ~}}
    </div>
    <div class="chapter-part-col gray-bgcolor">
        <figure>
      <pre><code class="language-stylus">
          {{~> stylus/examples/stylus-total-example ~}}
      </code></pre>
        </figure>
    </div>
</article>
