<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> stylus/recomendations/stylus-variables ~}}
    </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> stylus/recomendations/stylus-problems ~}}
    </div>
    <div class="chapter-part-col">
        <figure>
        <pre><code class="language-stylus">
            {{~> stylus/examples/stylus-problems-example ~}}
        </code></pre>
        </figure>
    </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> stylus/recomendations/stylus-general-recomendations ~}}
    </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> stylus/recomendations/stylus-useful-links ~}}
    </div>
</article>



