<h4 id="js-access-functions">Геттеры и сеттеры</h4>
<p>Функции универсального доступа к свойствам не требуются.</p>
<p>Если вам необходимо создать функцию для доступа к переменной, используйте раздельные функции getVal() и setVal('hello')</p>
<p>Если свойство является логическим(boolean), используйте isVal() или hasVal()</p>
<p>Вы можете создавать функции get() и set(), но будьте логичны и последовательны – то есть не добавляйте свойства, которые не могут быть изменены через эти функции.</p>