<h4 id="js-comments">Комментарии</h4>
<p>Используйте <span class="text-bold">/** ... */</span> для многострочных комментариев. Включите описание, опишите типы и значения для всех параметров и возвращаемых значений в формате jsdoc.</p>
<p>Используйте <span class="text-bold">//</span> для комментариев в одну строку. Размещайте комментарии на новой строке над темой комментария. Добавляйте пустую строку над комментарием.</p>
<p>Префикс TODO помогает другим разработчикам быстро понять, что вы указываете на проблему, к которой нужно вернуться в дальнейшем, или если вы предлагете решение проблемы, которое должно быть реализовано.</p><p>Эти комментарии отличаются от обычных комментариев, так как не описывают текущее поведение, а призывают к действию, например TODO -- нужно реализовать интерфейс. Такие комментарии также автоматически обнаруживаются многими IDE и редакторами кода, что позволяет быстро перемещаться между ними.</p>
<p>Используйте <span class="text-bold">// TODO FIXME:</span> для аннотирования проблем</p>
<p>Используйте <span class="text-bold">// TODO:</span> для указания решений проблем</p>
