<h4 id="js-copy-array-like">Копирование похожий по свойствам на массив объект</h4>
<p>Чтобы скопировать похожий по свойствам на массив объект (например, NodeList или Arguments), используйте Array::slice.</p>