<h4 id="js-constructors">Конструкторы</h4>
<p>Присваивайте метод прототипу вместо замены прототипа на другой объект. Замена прототипа на другой объект делает наследование невозможным.</p>
<p>Методы могут возвращать this для создания цепочек вызовов. Но стоит оставаться последовательным и обеспечить одинаковое поведение для всех методов, кроме геттеров.</p>
<p>Вы можете заменить стандартный метод toString(), но убедитесь, что он работает и не вызывает побочных эффектов.</p>