<h4 id="js-conditionals">Условные выражения и равенства</h4>
<p>Используйте === и !== вместо == и !=.</p>
<p>Условные выражения вычисляются посредством приведения к логическому типу Boolean через метод ToBoolean и всегда следуют следующим правилам:</p>
<ul>
    <li><span class="text-bold">Object</span> всегда соответствует true</li>
    <li><span class="text-bold">Undefined</span> всегда соответствует false</li>
    <li><span class="text-bold">Null</span> всегда соответствует false</li>
    <li><span class="text-bold">Boolean</span> остается неизменным</li>
    <li><span class="text-bold">Number</span> соответствует false, если является +0, -0, или NaN, в противном случае соответствует true</li>
    <li><span class="text-bold">String</span> означает false, если является пустой строкой '', в противном случае true. Условно говоря, для строки происходит сравнение не ее самой, а ее длины – в соответствии с типом number.</li>
</ul>
<p>Используйте короткий синтаксис.</p>