<h4 id="js-naming-conventions">Соглашение об именовании</h4>
<p>Избегайте однобуквенных имен функций. Имена должны давать представление о том, что делает эта функция.</p>
<p>Используйте camelCase для именования объектов, функций и переменных.</p>
<p>Используйте PascalCase для именования конструкторов классов.</p>
<p>Используйте подчеркивание _ в качестве префикса для именования внутренних методов и переменных объекта.</p>
<p>Создавая ссылку на this, используйте название от самого класса в camelCase, вместо self/that/_this/me и т.п</p>
<p>Задавайте имена для функций. Это повышает читаемость сообщений об ошибках кода.</p>