<h4 id="js-properties">Свойства</h4>
<p>Используйте точечную нотацию для доступа к свойствам и методам.</p>
<p>Используйте нотацию с [], когда вы получаете свойство, имя для которого хранится в переменной, а также если название
свойства содержит дефис.</p>
