<h4 id="js-syntax">Синтаксис</h4>
<p>Данную картинку можно распечатать для удобства и повесить где - нибудь на виду, чтобы можно было быстро
сверяться со стилем кода, к тому же запоминание будет идти гораздо быстрее.</p>
