<h4 id="js-strings">Строки</h4>
<p>Используйте одинарные кавычки <span class="text-bold">''</span> для строк.</p>
<p>Строки длиннее 80 символов нужно разделять, выполняя перенос через конкатенацию строк.</p>
