<h4 id="js-variables">Переменные</h4>
<p>Используйте одно <span class="text-bold">var</span> объявление переменных для всех переменных, и объявляйте каждую переменную на новой строке.</p>
<p>Объявляйте переменные, которым не присваивается значение, в конце. Это удобно, когда вам необходимо задать значение одной из этих переменных на базе уже присвоенных значений.</p>
<p>Присваивайте переменные в начале области видимости. Это помогает избегать проблем с объявлением переменных и областями видимости.</p>