<ul>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.bind">angular.bind</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.bootstrap">angular.bootstrap</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.copy">angular.copy</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.element">angular.element</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.equals">angular.equals</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.extend">angular.extend</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.forEach">angular.forEach</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.fromJson">angular.fromJson</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.identity">angular.identity</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.injector">angular.injector</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.isArray">angular.isArray</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.isDate">angular.isDate</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.isDefined">angular.isDefined</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.isElement">angular.isElement</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.isFunction">angular.isFunction</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.isNumber">angular.isNumber</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.isObject">angular.isObject</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.isString">angular.isString</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.isUndefined">angular.isUndefined</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.lowercase">angular.lowercase</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.merge">angular.merge</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.module">angular.module</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.noop">angular.noop</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.reloadWithDebugInfo">angular.reloadWithDebugInfo</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.toJson">angular.toJson</a>
    </li>
    <li>
        <a href="https://docs.angularjs.org/api/ng/function/angular.uppercase">angular.uppercase</a>
    </li>
</ul>