<h4 id="git-commit-writing">Написание коммитов</h4>
<p>Описание коммита должно отражать суть выполненных изменений,
    не должно быть слишком коротким, но и не чересчур длинным.
    Желательно, чтобы другой разработчик, прочитав описание коммита,
    мог быстро понять чтобы было сделано.
</p>




