<h4 id="git-branch-naming">Наименование веток</h4>
<p>Наименование веток производить по следующему принципу:</p>
<p><span class="text-bold">type/task-short-title/task-number</span>, где</p>
<p><span class="text-bold">type</span> - тип выполняемой задачи. Может быть
    <ul>
        <li>feature - новая фича;</li>
        <li>fix - багофикс;</li>
        <li>docs - изменения в документации;</li>
        <li>style - форматирование кода или любые другие изменения, не влияющие на работу кода;</li>
        <li>refactor - изменения в коде, которые не относятся к фиксам или фиче;</li>
        <li>test - добавлен или обновлён тест;</li>
        <li>chore - измененения в сборщике, зависимостях и т.п.</li>
    </ul>
</p>
<p><span class="text-bold">task-number</span> - номер выполняемой задачи в Accunote</p>
<p><span class="text-bold">task-short-title</span> - краткое наименование задачи</p>



