<h4 id="jquery-search-elements" xmlns="http://www.w3.org/1999/html">Поиск элементов</h4>
<p>Для DOM-запросов используйте классический каскадный CSS-синтаксис <span class="text-bold">$('.sidebar ul')</span> или родитель  потомок <span class="text-bold">$('.sidebar > ul')</span></p>
<p>Используйте <span class="text-bold">find</span> для поиска внутри DOM-объекта.</p>
<p>Для поиска одного элемента используйте только идентификатор <span class="text-bold">#id</span></p>
<p>Для поиска нескольких элементов однотипных по функционалу используйте класс с префиксом <span class="text-bold">.js-*</span> (для разделения названия класса использовать только дефис -), а не класс для стилизации элемента, название класса должно быть небольшим, но и понятным.</p>