<h4 id="jade-useful-links">Полезные ссылки</h4>
<p><a href="http://jade-lang.com">jade-lang.com</a> - Документация Jade</p>
<p><a href="http://jsman.ru/jade">http://jsman.ru/jade</a> - Ещё одна документация Jade</p>
<p><a href="http://naltatis.github.io/jade-syntax-docs">http://naltatis.github.io/jade-syntax-docs</a> - Ещё одна документация Jade</p>
<p><a href="http://html2jade.org">html2jade.org</a>  - конвертация HTML в Jade и Jade в HTML</p>

