<h4 id="jade-include-partials">Подключение шаблонов</h4>
<ul>
    <li><span class="text-bold">include header</span> - используется для подключения частиц страницы, например, для шапок и подвалов.</li>
    <li><span class="text-bold">extends partials/default</span> - используется для внедрения контент в расширяемый шаблон.</li>
    <li><span class="text-bold">block content</span> - используется для добавления строк кода в определённое место</li>
</ul>

<p>Во всех случаях через пробел указывается путь от текущего расположения до шаблона без расширения <span class="text-bold">.jade</span>.</p>