<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> git/rules/git-branch-naming ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> git/examples/git-branch-naming-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> git/rules/git-commit-writing ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> git/examples/git-commit-writing-example ~}}
      </code></pre>
    </figure>
  </div>
</article>
