<article class="chapter-part chapter-part_vertical">
  <div class="chapter-part-col">
    {{~> angular/rules/angular-files-naming ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-js">
        {{~> angular/examples/angular-files-naming-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> angular/rules/angular-files-structure ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
      {{~> angular/examples/angular-files-structure-example ~}}
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> angular/rules/angular-helpers ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor"
    {{~> angular/examples/angular-helpers-example ~}}
  </div>
</article>