<footer>
  <div class="contacts">
    <a class="logo-full" href="https://htmlacademy.ru">
      <img src="{{resolve 'logo.png'}}" width="161" height="55" alt="HTML Academy" title="HTML Academy">
    </a>
  </div>
</footer>
