<footer>
  <div class="contacts">
    <a class="logo-full" href="http://www.aitarget.ru">
      <img src="{{resolve 'logo.png'}}" width="161" height="55" alt="Aitarget" title="Aitarget">
    </a>
  </div>
</footer>
