<header>
  <a href="http://www.aitarget.ru" target="_blank">
    <img class="logo" src="{{resolve 'logo.png'}}" width="300" height="300" alt="Aitarget" title="Aitarget">
  </a>
  <h1>Aitarget Codestyle</h1>
  <p><a href="https://github.com/aitarget/codeguide">github.com/aitarget/codeguide</a></p>
</header>
