<header>
  <a href="https://htmlacademy.ru" target="_blank">
    <img class="logo" src="{{resolve 'logo.png'}}" width="300" height="300" alt="HTML Academy" title="HTML Academy">
  </a>
  <h1>Стиль кода Aitarget</h1>
  <p><a href="https://github.com/aitarget/codeguide">github.com/aitarget/codeguide</a></p>
</header>
