<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> jade/recomendations/jade-include-partials ~}}
    </div>
</article>

<article class="chapter-part">
    <div class="chapter-part-col">
        {{~> jade/recomendations/jade-useful-links ~}}
    </div>
</article>


