<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> jade/rules/jade-classes-ids ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-jade">
        {{~> jade/examples/jade-classes-ids-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> jade/rules/jade-several-attributes ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-jade">
        {{~> jade/examples/jade-several-attributes-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> jade/rules/jade-quotes ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-jade">
        {{~> jade/examples/jade-quotes-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> jade/rules/jade-unnecessary-attributes ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-jade">
        {{~> jade/examples/jade-unnecessary-attributes-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> jade/rules/jade-single-attributes ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-jade">
        {{~> jade/examples/jade-single-attributes-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> jade/rules/jade-long-lines ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-jade">
        {{~> jade/examples/jade-long-lines-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> jade/rules/jade-linewrapping ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-jade">
        {{~> jade/examples/jade-linewrapping-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> jade/rules/jade-inline-elements ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-jade">
        {{~> jade/examples/jade-inline-elements-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> jade/rules/jade-comments ~}}
  </div>
  <div class="chapter-part-col gray-bgcolor">
    <figure>
      <pre><code class="language-jade">
        {{~> jade/examples/jade-comments-example ~}}
      </code></pre>
    </figure>
  </div>
</article>