<h4 id="angular-general-recomendations">Общие рекомендации</h4>
<ul>
    <li>Для модификаторов используем одно слово</li>
    <li>Каждый элемент делать в виде отдельного модуля</li>
    <li>Данные для любых сущностей оформляются в виде модели</li>
    <li>По умолчанию привязываем директивы к элементам или к аттрибутам. Как исключение - к классам</li>
    <li>Наши css классы пишем в начале, а сторонние после</li>
    <li>Если классы без стилей, то пишем с префиксом js</li>
</ul>