<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Стиль кода Aitarget</title>
    <link rel="stylesheet" href="{{resolve 'style.css'}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<main>
    {{~> header ~}}

    <section class="chapter">
        <h2>Оглавление</h2>
        <article class="chapter-part">
            <div class="chapter-part-col">
                <h4>Jade</h4>
                <ul>
                    <li><a href="#jade-classes-ids">Классы и идентификаторы пишутся в начале</a></li>
                    <li><a href="#jade-comments">Комментарии</a></li>
                    <li><a href="#jade-inline-elements">Строчные элементы</a></li>
                    <li><a href="#jade-linewrapping">Перенос строки для однотипных блоков</a></li>
                    <li><a href="#jade-long-lines">Длинные строки</a></li>
                    <li><a href="#jade-mixins">Пиши меньше, делай больше</a></li>
                    <li><a href="#jade-number-values">Числовые значения в аттрибутах</a></li>
                    <li><a href="#jade-several-attributes">Несколько аттрибутов</a></li>
                    <li><a href="#jade-single-attributes">Одиночные аттрибуты</a></li>
                    <li><a href="#jade-single-quotes">Одиночные кавычки</a></li>
                    <li><a href="#jade-unnecessary-attributes">Необязательные аттрибуты</a></li>
                    <li><a href="#jade-include-partials">Подключение шаблонов</a></li>
                    <li><a href="#jade-useful-links">Полезные ссылки</a></li>
                </ul>
            </div>
            <div class="chapter-part-col">
                <h4>Stylus</h4>
                <ul>
                    <li><a href="#stylus-syntax">Синтаксис</a></li>
                    <li><a href="#stylus-indentation">Отступы</a></li>
                    <li><a href="#stylus-space-classes">Отступы между классами</a></li>
                    <li><a href="#stylus-unnecessary-symbols">Использование ненужных символов</a></li>

                    <li><a href="#stylus-one-block">Один файл - один блок</a></li>
                    <li><a href="#stylus-mixins-blocks">Свойства в примесях</a></li>
                    <li><a href="#stylus-total">Итого</a></li>

                    <li><a href="#stylus-variables">Переменные</a></li>
                    <li><a href="#stylus-problems">Возможные проблемы и пути их решения</a></li>
                    <li><a href="#stylus-general-recomendations">Общие рекомедации</a></li>
                    <li><a href="#stylus-useful-links">Полезные ссылки</a></li>
                </ul>
            </div>
            <div class="chapter-part-col">
                <h4>JavaScript</h4>
                <ul>
                    <li><a href="#js-access-functions">Геттеры и сеттеры</a></li>
                    <li><a href="#js-code-blocks">Блоки кода</a></li>
                    <li><a href="#js-comments">Комментарии</a></li>
                    <li><a href="#js-conditionals">Условные выражения и равенства</a></li>
                    <li><a href="#js-constructors">Конструкторы</a></li>
                    <li><a href="#js-copy-array">Копирование массива</a></li>
                    <li><a href="#js-copy-array-like">Копирование похожего по свойствам на массив объект</a></li>
                    <li><a href="#js-events">События</a></li>
                    <li><a href="#js-functions">Функции</a></li>
                    <li><a href="#js-key-words">Ключевые слова</a></li>
                    <li><a href="#js-naming-conventions">Соглашение об именовании</a></li>
                    <li><a href="#js-properties">Свойства</a></li>
                    <li><a href="#js-reserved-words">Зарезервированные слова</a></li>
                    <li><a href="#js-spaces">Пробелы</a></li>
                    <li><a href="#js-strings">Строки</a></li>
                    <li><a href="#js-syntax">Синтаксис</a></li>
                    <li><a href="#js-variables">Переменные</a></li>
                </ul>
            </div>
            <div class="chapter-part-col">
                <h4>Angular</h4>
                <ul>
                    <li><a href="#css-syntax">Структура папок</a></li>
                </ul>
            </div>
            <div class="chapter-part-col">
                <h4>Git</h4>
                <ul>
                    <li><a href="#git-branch-naming">Наименование веток</a></li>
                </ul>
            </div>
        </article>
    </section>

    <section class="chapter">
        <h2>Jade</h2>
        {{~> jade/jade-rules ~}}
        {{~> jade/jade-recomendations ~}}
    </section>

    <section class="chapter">
        <h2>Stylus</h2>
        {{~> stylus/stylus-rules ~}}
        {{~> stylus/stylus-recomendations ~}}
    </section>

    <section class="chapter">
        <h2>JavaScript</h2>
        {{~> js/js-rules ~}}
    </section>

    <section class="chapter">
        <h2>jQuery</h2>
        {{~> jquery/jquery-rules ~}}
    </section>

    <section class="chapter">
        <h2>Git</h2>
        {{~> git/git-rules ~}}
    </section>

    {{~> footer ~}}
</main>

<script src="{{resolve 'app.js'}}"></script>
</body>
</html>
