<h4 id="stylus-one-block">Один файл - один блок</h4>
<p>Один файл — один блок. Имя файла совпадает с именем блока. Все стили для блока должны быть описаны в этом файле. Блок не должен встречаться в других файлах.</p>