<h4 id="stylus-one-block">Один файл - один блок</h4>
<p>Один файл — один компонент. Все стили для компонента должны быть описаны в этом файле. Стили других компонентов не должны встречаться в других файлах.
    Компонентами являются как блоки, так и элементы блоков и модификаторов (БЭМ терминология).
</p>