<h4 id="stylus-unnecessary-symbols">Использование ненужных символов</h4>
<p>Опускайте использование фигурных скобок <span class="text-bold">{}</span>, двоеточий <span class="text-bold">:</span> и точек с запятыми <span class="text-bold">;</span>, в Stylus можно обходиться без них.</p>