<h4 id="stylus-indentation">Отступы</h4>
<p>Используйте пробелы для отступов, не используйте табы и пробелы одновременно - стили не скомпилируются.<p>
<p>В этом примере <span class="text-bold">∙∙</span> - два пробела, а <span class="text-bold">――</span> - один отступ с табуляцией.</p>
<p>Используйте 2 пробела для отступов. В своем редакторе настройте табуляцию в виде пробелов, чтобы при нажатии
на кнопку tab отступы делались в виде пробелов.</p>


