<h4 id="stylus-problems">Возможные проблемы и пути их решения</h4>
<p>Когда комментируются свойства, нужно комментировать ещё и селектор, иначе он будет брать свойства вместе со следующим селектором или,
    если следующего селектора нет, компилятор выдаст ошибку.</p>