<h4 id="stylus-general-recomendations">Общие рекомендации</h4>
<p>Используйте примеси (mixins) для частоповторяющихся участков кода и переменные для повторяющихся значений, но только в пределах одного компонента.</p>
<p>Используйте циклы для однотипных строк с различием в значениях, только если использование циклов
    целесообразно.</p>