<h4 id="stylus-general-recomendations">Общие рекомендации</h4>
<p>Используйте примеси (mixins) для частоповторяющихся участков кода.</p>
<p>Используйте циклы для однотипных строк с различием в значениях.</p>