<h4 id="stylus-variables">Переменные</h4>
<p>При частой записи одинаковых значений следует использовать переменные:</p>

<ul>
    <li>Название шрифтов</li>
    <li>Фирменные цвета</li>
    <li>Ресурсы в <span class="text-bold">data-uri</span></li>
</ul>
